.form {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0;
  padding: 86px 30px 0;

  position: absolute;
  top: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;
  transition: opacity .4s linear 0s;
  transition: visibility 0s linear 0.4s;
}