.message__text {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 20px 0;
  color: white;
  background: linear-gradient(90deg, #60A9F6 0%, #2A8BF2 100%);
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border-radius: 0 10px 10px 10px;
  box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
  
  max-width: 80%;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow: hidden;
}