@import url(../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import url(../blocks/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/form__title.css);
@import url(../blocks/form/form__subtitle.css);
@import url(../blocks/form/form__switch-link.css);
@import url(../blocks/form/form__span.css);
@import url(../blocks/form/form_type_send.css);

@import url(../blocks/form/form__fields.css);
@import url(../blocks/form/form__field.css);
@import url(../blocks/form/form__input.css);
@import url(../blocks/form/form__recovery-link.css);
@import url(../blocks/form/form__button.css);
@import url(../blocks/form/form_visable.css);
@import url(../blocks/form/form__textarea.css);
@import url(../blocks/form/form__button_small.css);

@import url(../blocks/chatlist/chatlist.css);

@import url(../blocks/game/game.css);
@import url(../blocks/game/game__wrapper.css);

@import url(../blocks/chat/chat.css);

@import url(../blocks/message/message.css);
@import url(../blocks/message/message__text.css);
@import url(../blocks/message/message__user.css);
@import url(../blocks/message/message__button.css);
@import url(../blocks/message/message__time.css);
@import url(../blocks/message/message__textbox.css);
@import url(../blocks/message/message_self.css);
@import url(../blocks/message/message__text_self.css);
@import url(../blocks/message/message__time_self.css);
@import url(../blocks/message/message__status.css);

@import url(../blocks/chat/chat.css);
@import url(../blocks/chat/chat__form.css);
@import url(../blocks/chat/chat__controls.css);
@import url(../blocks/chat/chat__button.css);
@import url(../blocks/chat/chat__button_send.css);
@import url(../blocks/chat/chat__button_emoji.css);