.chat__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  resize: none;
  border-top: 2px solid rgba(112, 124, 151, 0.15);
}

.chat__form:focus-within {
  flex-direction: column;
  align-items: flex-end;
}