.game {
  padding: 10%;
  background-image: url(../../images/gamechanger.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vh;
  height: 0;
  padding-top: 66.64%; /* (img-height / img-width * container-width) */
/* (853 / 1280 * 100) */
}